
body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.coolSite {
    width: 100%;
    height: 100%;
}

.sectionsContainer {
    width: 60%;
    height: 50%;

}

header {
    width: 100%;
    height: 5%;
    background: brown;
}

main {
    width: 100%;
    height: 90%;
    background: blue;
}

nav {
    height: 100%;
    width: 25px;
    background:  green;
}

section {
    width: 30%;
    height: 50%;
    background: rebeccapurple;
}

footer {
    width: 100%;
    height: 5%;
    background:  red;
}

 