.cpecial.paragraph {
    color: rgb(37, 172, 172);
}

.paragraph {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    color: rgb(7, 7, 134);
    font-weight: 700;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.list {
    background-color: beige;
    border: 1px solid black;
    padding 5px;
}

.listitem {
    font-size: xx-large;
}

.list .listitem {
    color: darkgreen;
}

.image {
    width: 10vw;
    height: 10vh;
} 

.coolimage {
    width: 100px;
    height: 50px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/f8/Flag_of_Eisk_%28Krasnodar_krai%29.png) no-repeat;
    background-size: cover;
}